<nav class="navbar">
  <div class="navbar__left-side">
    <h1 routerLink="/" class="pointer navbar__title">MCTOURNEY</h1>
    <a
      routerLink="/tournaments"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="ml-8"
      >Tournaments</a
    >
    <a
      routerLink="/tournaments/mytournaments"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="ml-8"
      *ngIf="user._id"
      >My Tournaments</a
    >
    <a routerLink="/tournaments/create" routerLinkActive="active" *ngIf="user._id">Create</a>
  </div>

  <div class="navbar__right-side">
    <ng-template [ngIf]="user.playername">
      <img
        class="navbar__right-side--image"
        [src]="'https://mc-heads.net/avatar/' + user.playername"
        alt=""
      />
      <h1 class="navbar__right-side--playername">{{ user.playername }}</h1>
    </ng-template>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="icon-button with a menu"
      class="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</nav>

<mat-menu #menu="matMenu" xPosition="before">
  <button
    mat-menu-item
    routerLink="/login"
    *ngIf="!user.playername; else logout"
  >
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <ng-template #logout>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </ng-template>

  <button mat-menu-item routerLink="/offlinetool">
    <mat-icon>construction</mat-icon>
    <span>Offline Tool</span>
  </button>
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>Info</span>
  </button>
</mat-menu>
