<div *ngIf="tournament && !isLoading; else loadingSpinner">
  <div
    class="overview__tournament"
    *ngIf="tournament.matches.length > 0; else emptyTournament"
  >
    <app-overview-sixteen-player
      [editMode]="editMode"
      *ngIf="tournament.size === 16"
    ></app-overview-sixteen-player>
    <app-overview-eight-player
      [editMode]="editMode"
      *ngIf="tournament.size === 8"
    ></app-overview-eight-player>
    <app-overview-four-player
      [editMode]="editMode"
      *ngIf="tournament.size === 4"
    ></app-overview-four-player>
    <p *ngIf="tournament.size === 0">error</p>
  </div>
  <ng-template #emptyTournament>
    <p>This tournament has not been generated yet.</p>
  </ng-template>
</div>
<ng-template #loadingSpinner>
  <mat-spinner class="tournament__loading-spinner"></mat-spinner>
</ng-template>
