<form [formGroup]="loginForm" class="login" (ngSubmit)="onLogin()">
  <mat-form-field class="login__field" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" />
  </mat-form-field>

  <mat-form-field class="login__field" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="text" formControlName="password" />
  </mat-form-field>
  <button mat-raised-button type="submit">Login</button>

  <mat-divider class="divider"></mat-divider>

  <p>Don't have an account?</p>
  <button mat-raised-button [routerLink]="['/register']" type="button">
    Register
  </button>
</form>
