<button mat-raised-button (click)="getMyTournaments()">My Tournaments</button>
<div *ngFor="let tournament of tournaments" class="tournament">
  <div class="tournament__header">
    <div class="tournament__name">{{ tournament.name | uppercase }}</div>
    <div class="tournament__size">Size: {{ tournament.size }}</div>
  </div>

  <div>Players:</div>
  <div class="tournament__players">
    <div class="tournament__player" *ngFor="let player of tournament.players">
      {{ player.username }}
    </div>
  </div>
  <div class="tournament__buttons">
    <a class="tournament__go" [routerLink]="[tournament._id]">go</a>
    <a
      class="tournament__edit"
      [routerLink]="[tournament._id, 'edit']"
      *ngIf="user.playername && tournament.owner._id == user._id"
      >edit</a
    >
  </div>
  <br />
</div>
