<form [formGroup]="tournamentForm">
  <label for="name">Name: </label>
  <input type="text" id="name" formControlName="name" />
  <br />
  <label for="size">Size: </label>
  <select id="size" formControlName="size">
    <option value="4">4</option>
    <option value="8">8</option>
    <option value="16">16</option>
  </select>
  <button type="button" (click)="onUpdateSize()">Update Size</button>
</form>

<form [formGroup]="playerForm" (ngSubmit)="onAddPlayer()">
  <label for="username">Username: </label>
  <input type="text" id="username" formControlName="username" />
  <label for="playerId">PlayerId: </label>
  <input type="text" id="playerId" formControlName="playerId" />
  <button type="submit">Add Player</button>
  <button type="button" (click)="onRemovePlayer()">Remove Player</button>
</form>

<div>
  <div>{{ tournament.players.length + " / " + tournament.size }}</div>
  <div class="player__list">
    <div *ngFor="let player of tournament.players">
      <app-match-player-info [player]="player"></app-match-player-info>
    </div>
  </div>
</div>

<br />
<div class="tournament__controls">
  <button
    (click)="onGenerateTournament()"
    [disabled]="tournament.isComplete || tournament.isStarted"
  >
    Generate Tournament
  </button>
  <button (click)="onStartTournament()" [disabled]="tournament.isComplete">
    Start Tournament
  </button>
  <div
    class="tournament__controls__text"
    [ngClass]="{
      'tournament--green': tournament.isStarted,
      'tournament--yellow': !tournament.isStarted
    }"
  >
    {{ tournament.isStarted ? "STARTED" : "NOT STARTED" }}
  </div>
  <div
    class="tournament__controls__text"
    [ngClass]="{
      'tournament--green': tournament.isComplete,
      'tournament--yellow': !tournament.isComplete
    }"
  >
    {{ tournament.isComplete ? "COMPLETE" : "NOT COMPLETE" }}
  </div>
</div>

<div></div>

<app-tournament-overview [editMode]="true"></app-tournament-overview>
